/* ----- RESET ---- */
body, h1, h2, h3, div, main, aside {
  margin: 0;
  padding: 0;
}

/* ----- LAYOUT ---- */
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  background: linear-gradient(-270deg, #000, #333);
  color: #fff;
}
.container {
  margin: 7% auto;
  max-width: 1200px;
  padding: 2rem;
  box-sizing: border-box; 
}
.nav-link {
  float: right;
}
.nav-link::after {
  content: '';
  display: block;
  clear: both;
}
.applicant-profile {
  padding: 1.4rem;
  border: 1px solid #fff;
  margin: 1.3rem 0;
}

/* ----- FORMS ---- */
input {
  min-width: 250px;
  outline: none;
  padding: 1rem;
  border: 0;
  display: block;
  margin: .6rem 0;
  font-size: 1.2vw;
}
button {
  background-color: #fff;
  color: #222;
  padding: 1rem;;
  text-decoration: none;
  min-width: 130px;
  cursor: hand;
  cursor: pointer;
  border: none;
  font-size: 1.2vw;
  display: block;
  margin: 1rem 0;
}
textarea {
  padding: 1rem;
  border: 0;
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  height: 30vh;
}
input, textarea {
  background-color: #41474d;
  box-sizing: border-box;
}

/* ----- TYPOGRAPHY ---- */
h1 {
  font-size: 4vw;
}
h2 { 
  font-size: 2vw;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 1vw;
  border-radius: 4px;
  border: 1px solid rgba(219, 219, 219, 0.3)
}
input, button, p, textarea, a {
  font-size: 1.2vw;
}
input, textarea {
  color: #fff;
}
input::placeholder, 
textarea::placeholder {
  color: rgb(184, 184, 184);
}